@import "../../styles/variables.scss";

.winner_div {
  margin-bottom: 80px;

  .tie {
    font-size: 80px;
    font-weight: normal;

    @media (max-width: 680px) {
      font-size: 60px;
    }

    @media (max-width: 680px) {
      font-size: 60px;
    }

    @media (max-width: 494px) {
      font-size: 46px;
    }

    @media (max-width: 400px) {
      font-size: 42px;
    }
  }

  .player_won {
    @extend .tie;
    display: flex;
    align-items: center;
    justify-content: center;

    .winner_icon {
      margin-bottom: 16px;

      @media (max-width: 494px) {
        width: 100px;
        height: 100px;
        margin: 0;
      }

      @media (max-width: 400px) {
        width: 80px;
        height: 80px;
      }
    }
  }

  .play_again {
    color: $green;
    font-size: 40px;
    cursor: pointer;

    @media (max-width: 680px) {
      font-size: 35px;
    }

    @media (max-width: 494px) {
      font-size: 30px;
    }
  }
}
